/* Single select */
.box {
  margin-top: 20px;
  margin-bottom: 20px;
}

.box select {
  background-color: #009688;
  color: white;
  padding: 12px;
  width: 520px;
  font-size: 25px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  outline:none;
}

.box select option {
  padding: 30px;
}

/* Multiple select */

.dropbtn {
  background-color: #009688;
  color: white;
  padding: 12px;
  width: 520px;
  font-size: 25px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  outline:none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 20px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  width: 520px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width:520px;
  font-size: 20px;
}

/* Change color of dropdown links on hover */
.dropdown-content button
:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: rgba(231, 54, 54, 0.808);
}

.select-output {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}